@import '../../styles/main.scss';

.cardRow {
    @include mQ(767.98px) {
        padding: .8rem 0;
    }
    .card {
        position: relative;
        
        .card-body {
            padding: .4rem 0;

            .show-genres {
                color: $redColor;
                font-size: $smallFontSize;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .card-title {
                font-size: $regularFontSize;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .average-txt {
            position: absolute;
            right: 8px;
            top: 8px;
            background-color: $goldColorTransparent;
            font-size: $regularFontSize;
            padding: .4rem;
            border-radius: 4rem;
            width: 24px;
            height: 16px;
            text-align: center;
            font-weight: bold;
            color: $blueColor;
        }
    }
    img {
        overflow: hidden;
        border-radius: .3rem;
    }
    
}

