@import '../styles/utils/variable';
@import '../styles/utils/mixins';

body, html {
    height: 100%;
}

body {
    font-family: 'Andika New Basic', sans-serif;
}

.content {
    background-color: $darkBlue;
    min-height: 100vh;
    color: $lightColor;
    padding: 0 $contentSidePadding;

    @include mQ(767.98px) {
        padding: 1rem $contentSidePaddingSmall;
    }
}

.error {
    color: $redColor;
    font-size: $bigFontSize;
}

.mainRow {
    display: flex;
    @include mQ(767.98px) {
        display: block;
    }

    .showTable {
        width: 50%;
        overflow-x: scroll;
        @include mQ(767.98px) {
            width: 100%;
        }
    }
    .shows-full-area {
        width: 100%;
        .cardRow {
            padding-left: 0rem;
            @include cardRow(14rem);
            @include mQ(767.98px) {
                width: 100%;
            }
        }
    }
    .shows-area {
        width: 50%;
        @include mQ(767.98px) {
            width: 100%;
        }
        .cardRow {
            padding-left: .8rem;
            @include cardRow(9rem);
            @include mQ(767.98px) {
                padding-left: 0rem;
            }
        }
    }
}

