$darkBlue: #1e2c4a;
$blueColor: #283D6B;
$blueHeader: #12182b;
$blueLighter: #4577a7;
$blueTransparent: #12182b8f;
$lightColor: #c1ac92;
$redColor: #c11530;
$goldColor: #fcc72d;
$goldColorTransparent: hsla(45, 97%, 58%, 0.90);
$whiteColor: #FFFFFF;
$greenColor: #2e8b57;


$smallFontSize: .9rem;
$regularFontSize: 1rem;
$bigFontSize: 1.1rem;

$contentSidePadding: 8rem;
$contentSidePaddingSmall: 2rem;

$xsMaxWidth: 575.98px;
$smMaxWidth: 767.98px;
$mdMaxWidth: 991.98px;
$lsMaxWidth: 1199.98px;

$smMinWidth: 576px;
$mdMinWidth: 768px;
$lgMinWidth: 992px;
$xlMinWidth: 1200px;