@import '../../styles/main.scss';

.searchInput {
    margin: 1rem 0;
    padding: 1rem 0 1rem 2%;
    border: 1px solid $lightColor;
    border-radius: 4px;
    width: 100% - 2%;
    background-color: $darkBlue;
    color: $lightColor;
    transition: all ease-in-out .30s;

    &:hover , &:active {
        background-color: $blueColor;
        transition: all ease-in-out .30s;
    }
}