@import '../../styles/main.scss';

.searchInput {
    margin: 1rem 0;
    padding: 1rem 0 1rem 1%;
    border: .11rem solid $lightColor;
    border-radius: 4px;
    width: 100% - 1%;
    background-color: $darkBlue;
    color: $lightColor;
    transition: all ease-in-out .30s;
    font-size: $regularFontSize;

    &:hover , &:active {
        background-color: $blueColor;
        transition: all ease-in-out .30s;
    }
}