@import '../../styles/main.scss';

.showTable {
    padding-right: .8rem;
    @include mQ(767.98px) {
        padding: 0;
    }

    table {
        border: none;
        border-spacing: .1rem .2rem;

        & tr {
            color: #c1ac92;
            margin: .4rem 0;
            border: none;
            cursor: pointer;
            transition: all ease-in-out .35s;
            
            & th {
                border-top: none;
                background: $blueTransparent;
                white-space: nowrap;
                color: $whiteColor;
                text-align: left;
                padding: .8rem .4rem;
                border: none;
                font-size: $smallFontSize;
                text-transform: uppercase;
            }
    
            & td {
                border: none;
                background: $blueHeader;
                white-space: nowrap;
                text-align: left;
                padding: .8rem .4rem;
            }
    
            &:hover {
                & > td {
                    color: $greenColor;
                    background-color: $blueTransparent;
                    transition: all ease-in-out .35s;
                }
            }
        }    
    }

    
}